.beedy-input {
  visibility: hidden;
}
.beedy-input::before {  
  display: none; 
}

.placeholder {
    position: relative;
    width: 100%;
    filter: blur(10px);
    transform: scale(1);
}
.picture {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s linear;
}
.picture.loaded {
    opacity: 1;
}
.beedy {
  position: relative;
  width: 100%;
  max-height: 200px;  
}
.image-preview {
  position: relative; 
  display: inline-block; 
  border-left:  1px solid gray;
  border-right:  1px solid gray;
  border-top:  5px solid gray;
  border-bottom:  5px solid gray;
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07); 
  height: 200px;  
  max-height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;  
}

.image-preview  img {
  width: 100%;
  max-height: 200px;  
}
.ck-content {
  min-height: 20em;
}