.chatPopup {
  /*display: none;*/
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1; 
  z-index: 19;
}
.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 40px;
    width: 100%;
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}


.chatSidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #b2b2b2;
}
.chatBox {
	position: fixed;
	position: expression("absolute");
	width: 225px;
	/*display:none;*/
}

.chatBoxHead {
	background-color: #f99d39;
	padding:7px;
	color: #ffffff;
	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}
 
.chatBoxContent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}